<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChaТик</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form method="get">
        <div>
            <lable>
                Введите логин :
                <input id="login" name="login" type="text" placeholder="Здесь логин">
            </lable>
        </div>
        <div>
            <lable>
                Введите пароль :
                <input id="password" name="password" type="text" placeholder="Тут пароль">
            </lable>
        </div>
        <div class="textWrapper">
            <lable>
                <input id="message" name="message" type="text" placeholder="Писать сюда">
            </lable>
            <button class="inputButton">Отправить</button>
        </div>
    </form>
</body>
</html>