<div class="messagesWrapper">
  <p class="message">{{message.user}} {{message.message}}</p>
  <p class="messageDate"> {{message.date}}</p>
  <p>====================================================</p>
</div>